
<div class="row">
  <div class="col-xs-4">
We've got your back.

Have a question or need help? Use the form or contact us at support@yourkarma.com

What's the status of my order?

We’re working on a way for you to check your order status online, but for now, our staff is on hand to assist. Monday–Friday, 9am–9pm ET.
You can also reach us via Twitter, @yourKarma

How do I set up a return?

We have a 30-day, no-questions-asked return policy. Visit our Self Service Return Center so we can get started on the return process.
  </div>

  <div class="col-xs-4" id="contact-col">
    <h2>Contact Us</h2>
    <form>
      <h4>Personal Information</h4>
        <div class='form-group' id='name-field'>
          <label>
            <input type='text' placeholder='Full Name' class='form-control'>
          </label>
        </div>

        <div class='form-group' id='email-field'>
          <label>
            <input type='text' placeholder='Email Address' class='form-control'>
          </label>
        </div>

      <input type='button' value="submit" class='btn btn-success'>
    </form>
    <div id="error-field"></div>
  </div>

</div>
