/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
//.navbar-nav > li > a {
//  padding-top: 15px;
//  padding-bottom: 0px;
//}
.navbar-nav > li.not_tomato {
  padding-top: 17px;

}

.img-responsive {
    margin: 0 auto;
}

.carousel {
  width: auto;
  height: 350px;
  max-height: 350px;
  margin: 0 auto;
}